<main>
  <section class="pt-md-7 pb-7 pb-md-9">
    <div class="container">
      <h2 class="title-deco py-7 py-md-9 text-center text-primary-700 tracking-wide fw-semibold"><%- page.title %></h2>
      <p class="text-center">若有任何資訊想分享，歡迎透過下方資訊聯繫我。</p>
    </div>
    <div class="container">
      <picture>
        <source media="(min-width: 768px)" class="w-100" srcset="/images/wallpaper2-l.png">
        <img class="w-100" src="/images/wallpaper2-m.png" loading="lazy" alt="hexo banner2">
      </picture>
    </div>
  </section>