<footer
    class="py-7"
    style="background-image: url('/images/footer-bg-lg.png');
      background-repeat: no-repeat;
      background-size: cover;"
  >
  <div class="container">
    <div class="row row-gap-7 justify-content-between align-items-center my-md-7">
      <div class="col-12 col-md-4 col-lg-3">
        <img class="mb-4" src="/images/logo.svg" loading="lazy" alt="logo">
        <p class="mb-3 fs-6 text-primary-700">本網站僅用於非營利性的遊戲宣傳目的，如任何內容涉及版權問題，請版權擁有者聯繫版主。</p>
        <a class="link-primary-500 fs-5 text-decoration-none" href="https://royals.ms/forum/members/jk1698oxx2.21328/"><u>論壇留言(需登入)</u></a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
        <a class="btn btn-lg w-100 px-4 mb-4 lh-base text-start link-primary-500 text-primary-50 bg-primary-900 fw-bold" href="https://royals.ms/downloads">
          <i class="bi bi-house-down-fill align-middle px-2 fs-1"></i>           
          遊戲下載
        </a>
        <a class="btn btn-lg w-100 px-4 mb-4 lh-base text-start link-primary-500 text-primary-700 bg-primary-50 fw-bold" href="https://discord.gg/rHWUYpMT6W">
          <i class="bi bi-discord align-middle px-2 fs-1"></i>
          Discord 中文社群
        </a>
        <a class="btn btn-lg w-100 px-4 lh-base text-start link-primary-500 text-primary-700 bg-primary-50 fw-bold" href="https://www.facebook.com/share/UsE9FZuF9AscgFW2/?mibextid=K35XfP">
          <i class="bi bi-facebook align-middle px-2 fs-1"></i>
          Facebook 中文社團
        </a>
      </div>
    </div>
  </div>
</footer>